<div class="open">
    <div class="dropdown-menu noclose" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-block ">
            <form class="form">
                <label class="line-order_name">Маркер</label>
                <input class="form-control mb10 passed" type="text" name="keys_marker" placeholder="Маркер" value="{{ key_marker|raw }}">
            </form>
            <hr>
            <div class="row">
                <div class="col-sm-12 pull-right box_buttons">
                    <a class="save_marker btn btn-sm btn-target" href="#">применить</a>
                    <a class="js-close btn btn-sm btn-outline" href="#">закрыть</a>
                </div>
            </div>
        </div>
    </div>
</div>